<div class="flex flex-col w-full justfiy-start md:justfiy-center items-center">
        <h1 class="text-5xl font-bold text-gray-400 ">Welcome To Admin DashBoard</h1>
        <div class="flex flex-col gap-8 justfiy-start md:justfiy-center items-center md:flex-row md:justfiy-between w-full">
                <div class="max-w-sm rounded overflow-hidden md:w-48 shadow-lg bg-gradient-t-r from-blue-700 to-red-500">
                        <div class="px-6 py-2">
                                <h2 class="text-2xl font-bold mb-2 text-start">
                                        Sign ups
                                </h2>
                                <%= @quick_status[:sign_ups]%>
                        </div>
                </div>
                <div class="max-w-sm rounded overflow-hidden md:w-48 shadow-lg bg-gradient-t-r from-red-400 to-red-300">
                        <div class="px-6 py-2">
                                <h2 class="text-2xl font-bold mb-2">
                                        Sales
                                </h2>
                                <%= @quick_status[:sales]%>
                        </div>
                </div>
                <div class="max-w-sm rounded overflow-hidden md:w-48 shadow-lg bg-gradient-t-r from-red-400 to-red-300">
                        <div class="px-6 py-2">
                                <h2 class="text-2xl font-bold mb-2">
                                        Lessons Completed
                                </h2>
                                <%= @quick_status[:completedLessons]%>
                        </div>
                </div>
                <div class="max-w-sm rounded overflow-hidden md:w-48 shadow-lg bg-gradient-t-r from-red-400 to-red-300">
                        <div class="px-6 py-2">
                                <h2 class="text-2xl font-bold mb-2">
                                        Total Sign Up
                                </h2>
                                <%= @quick_status[:totalSignUp]%>
                        </div>
                 </div>
        </div>
        <div class="w-full flex flex-col justfiy-between items-center md:flex-row mt-8" data-controller="dashboard" data-dashboard-signups-value="" data-dashboard-completed-value="<%= @completedLessonsByDay.to_json%>">
                <div class="w-full md:w-1/2 text-center my-4">
                        <h2 class="text-2xl font-bold text-center my-4">
                                Completed Lessons
                        </h2>
                        <canvas id="chart"></canvas>
                </div>
                <div class="w-full md:w-1/2 text-center my-4">
                        <h2 class="text-2xl font-bold text-center my-4">
                                Sign Ups
                        </h2>
                        <canvas id="chart"></canvas>
                </div>
        </div>
        <div class="w-full overflow-x-auto my-6">
          <h2 class="text-2xl my-6 font-bold">Most Popular Courses</h2>
          <table class="min-w-full bg-purple-400" style="border-collaps: separate;border-spacing:0">
                <thead>
                        <tr>
                                <th>Title</th>
                                <th>users</th>
                        </tr>
                </thead>
                <tbody class="text-gray-800">
                        <%= @mostPopularCourses.each do |course|%>
                                <tr>
                                    <td class="px-6 py-4 border-b border-gray-200">
                                       <%= course.title%> 
                                    </td>
                                    <td class="px-6 py-4 border-b border-gray-200">
                                       <%= course.course_users.count%> 
                                    </td>
                                </tr>
                        <% end %>
                </tbody>
          </table>
        </div>
</div>