<header class="hidden sm:flex w-full justify-center items-center text-gray-700 px-6 py-6 bg-teal-600">
   <div class="container mx-auto flex justify-between items-center">
        <div class="flex gap-6">
                <%= link_to "Courses",courses_path%>
                <%= link_to "Home",root_path%>
        </div>
        <div>
                <%= link_to courses_path do%>
                        <p>Logo</p>
                <% end %>
        </div>
        <div class="flex gap-6">
                <% if user_signed_in? %>
                  <%= link_to "Sign Out",destroy_user_session_path,data:{'turbo_method'=>:delete,'turbo_confirm'=>'Are you sure'},class:" text-green-300 font-bold px-4 py-1 hover:bg-purple-800"%>
                  <%= link_to "user",edit_user_registration_path%>
                <% else %>
                <%= link_to "sign In",new_user_session_path,class:"text-bold"%>
                <% end %>
        </div>
   </div>
</header>
<header data-controller="navbar" class="sm:hidden w-full justify-center items-center text-gray-700 px-6 py-6 bg-teal-600">
        <div class="flex justify-between items-center">
                <div>
                        <%= link_to root_path do%>
                                <p>courses</p>
                        <% end %>
                </div>
                <div class="p-4">
                        <buuton type="button" data-action="click->navbar#toggle" id="bars" class:"w-full flex justify-end items-center h-8"><%= image_tag "menus.png",class:" h-8 "%></button>
                        <buuton type="button" data-action="click->navbar#toggle" id="close" class:"w-full flex justify-end items-center hidden "><%= image_tag "x_icon.png",class:"h-8" %></button>     
        </div>
        <div id="mobile_links" class=" hidden border-t-2 border-sky-500 flex flex-col w-full justify-between items-center">
                <div>
                <%= link_to "courses",root_path%>
                </div>
                <div class="flex flex-col">
                        <% if user_signed_in? %>
                                <%= link_to "Sign Out",destroy_user_session_path,data:{'turbo_method'=>:delete,'turbo_confirm'=>'Are you sure'},class:" text-green-300 font-bold px-4 py-1 hover:bg-purple-800"%>
                                <%= link_to "user",edit_user_registration_path%>
                        <% else %>
                                <%= link_to "sign In",new_user_session_path,class:"text-bold"%>
                        <% end %>
                </div>
        </div>
</header>